# Bibliotecas base e interface
streamlit
pandas
numpy

# Visualização de dados
matplotlib
plotly

# Machine Learning e Estatística
scikit-learn
xgboost
lightgbm
shap

# Geração de relatórios PDF
fpdf2